.custom-tooltip
{
  background-color: rgba(0,0,0, 0.5);
  border-radius: 10px 10px 10px 10px;
  font-family: Arial;
  font-size: 10px;
  padding: 5px;

}

.custom-tooltip .label
{
  font-weight: bold;
}


.custom-tooltip .sb
{
  width: 10px;
  height: 10px;
  margin: 0px 2px;
  padding: 0px;
}

.custom-tooltip .data
{
  margin: 0px;
  padding: 0px;
}
