.map_elem {
  fill: #ddd;
  stroke: #000;
  stroke-width: 1;
  stroke-linejoin: round;
  transform-box: fill-box;
  transform-origin: center;
  transition: transform 0.1s, stroke-width 0.2s, stroke 0.1s;
  paint-order: stroke;
}

.map_elem:hover {
  transform: scale(1);
  stroke-width: 10;
  stroke: #000000a0;
  paint-order: unset;
}
